@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

@keyframes gridMove {
  from {
    transform: rotateX(60deg) translateY(-60%) translateZ(0) scale(3);
  }
  to {
    transform: rotateX(60deg) translateY(0%) translateZ(0) scale(3);
  }
}
